/* Set the default background color and text color of all three HTML pages */
body {
    background-color: rgb(208, 167, 231);
    color: rgb(33, 35, 141);
  }

/*Set the background color and text color, as well as the font, font size, font style, and font boldness for the h1 elements on all pages */
h1 {
    background-color:  rgb(0, 0, 0);
    color: rgb(226, 213, 21);
    font-size: 35px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: 200;
}

/* set the font, font size, font syle, and boldness of the font for any time elements that are also tagged with the timedisplay class */
time.timedisplay{
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 100;
}

/*add a box shadow and define the radius of a border for any image elements tagged with the imgclass class */
img.imgclass{
    box-shadow: 5px 5px 5px 5px rgb(207, 204, 21);
    border-radius: 30px;
}

/*add a border image using a linear gradient around any image elements tagged with the secondimage class */
img.secondimage{
  border: 10px solid transparent;
  padding: 15px;
  border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
  transform:rotate(6deg);
}

/* add text shadow to any text tagged with the paraID ID */
#paraID {
    text-shadow: 5px 5px rgb(153, 7, 7);
}

/* add linear color gradient to elements with the nextTourney ID */
#nextTourney{
    background: linear-gradient(#e66465, #9198e5);
}

/*add text color to the about us section which is tagged with the aboutUs ID */
#aboutUs{
    color:rgb(199, 30, 30);
}

/*set the color and font style of visited links */
a:visited {
    color: pink;
    font-style:italic;
  }

/* set the color and boldness of unvisited links */
a:link {
    color:rgb(226, 213, 21);
    font-weight:100;
}

/* change default marker for unordered lists */
ul {
    list-style-type:square;
  }